---
layout: master
---
<div class="background-image-me"></div>

{% include navbar.html %}

<div class="col-sm-4 col-sm-offset-6 well" style="text-align:right">
     <h1>Wei Tian</h1><br>
     <h3>description</h3><br>
     <div>
         <a class='h3' href="/about/">Research</a> -
         <a class='h3' href="/about/publications.html">Publications</a> -
         <a class='h3' href="/about/otherprojects.html">Other projects</a> -
         <a class='h3' href="/about/wei.tian_cv.pdf">CV</a>
    </div>
    <hr style="height: 3px;">
    <div style="text-align:left">
        {{ content }}
    </div>

</div>
