---
layout: master
---
<div class="background-image-me"></div>

{% include navbar.html %}

<div class="col-sm-5 col-sm-offset-5 well" style="text-align:right">
     <h1>Wei Tian</h1><br>
     <h5>A researcher wandering among biology, mathematics, physics, and computer science out of curiosity, enjoying the beauty of their interplay</h5><br>
     <div>
         <a class='h3' href="/about/">Research</a> -
         <a class='h3' href="/about/publications.html">Publications</a> -
         <!--
         <a class='h3' href="/about/otherprojects.html">Other projects</a> -
         -->
         <a class='h3' href="/about/wei.tian.cv.pdf">CV</a>
    </div>
    <hr>
    <div style="text-align:left">
        {{ content }}
    </div>

</div>
